<h1 style="color: black">THIS IS A WELCOME PAGE FOR ACTIVE DEMO </h1>
<body style="color: blue " bgcolor="pink">
<pre>
	THIS includes active demo and refinery cms further with 4.2.6 version of rails and 2.3.1 version of ruby.
</pre>
