<div>
  <h1><center>TOP COLLEGES IN INDIA</center></h1>
</div>
<div>
  <table>
   <% @colleges.each do |college| %>
     <tr>
        <th>LOGO </th>
     	<th>NAME</th>
     	<th>POST-GRADUATE COURSES OFFERED</th>
     	<th>UNDER-GRADUATE COURSES OFFERED</th>
        <th>     </th>
     </tr>
     <tr>
     	<td><%= image_tag(college.logo_url, alt: "college_icon") %></td>
        <td><%= college.name %></td>
        <td><% college.pg_courses.each do |b|%>
               <%= b %> <br>
            <% end %> 
        </td>
        <td><% college.ug_courses.each do |a| %>
              <%= a %> <br>
            <% end %> 
        </td>
        <td><%= link_to 'VIEW DETAILS' ,"/college/#{college.slug}" %></td>
     </tr>
     <% end %>
  </table>
<%= link_to 'ADMIN LOGIN', "/admin/login"  %>
</div>