<center><h1>DETAILS OF THE USERS</h1></center>
 <pre>
  <% @info.each do |i| %>
   NAME OF THE USER : <%= i.name    %>
   AGE OF THE USER  : <%= i.age     %>
   ADDRESS          : <%= i.address %>
   PASSWORD         : <%= i.password%>
   <% end %>
 </pre>


