<center><h1>LOGIN PAGE</h1></center>

<%= form_for :new_user do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>


  <p>
    <%= f.submit :login %> 
  </p>
  <% end %>

