<div>
  <h1><center><%= @college.name %></center></h1>
</div>
<div><%= image_tag(@college.logo_url, alt: "college_icon") %>
   Address  :-> <%=  @college.address %><br>
   Phone_no :-> <%=  @college.phone_no %><br>
   University :-> <%= @college.university %><br>
   POST-GRADUATE COURSES OFFERED:-> <% @college.pg_courses.each do |b|%>
               <%= b %> <br>
            <% end %> 
   <br> UNDER-GRADUATE COURSES OFFERED:-> <%  @college.ug_courses.each do |a| %>
              <%= a %> <br>
            <% end %> 
   <br> CAMPUS_SIZE<%=  @college.campus_size %> 
   <br> NO. OF STUDENTS<%=  @college.students %> <br> 
  <%= link_to 'ADMIN LOGIN', "/admin/login"  %>
</div>