<!DOCTYPE html>
<html>
  <head style="color: blue">
	<title>LIST OF ALL SCHOOL ATTRIBUTES</title>
    <center><b>SCHOOL INFORMATION</center></b> 
  </head>
  <body bgcolor="pink">
    LIST OF STUDENTS :-
     <ol><% @student_name.each do |i| %>
      <li><%= i.c_name %></br>
          <% end %>
     </ol>
    LIST OF TEACHERS :-
     <ol><% @teacher_name.each do |i| %>
      <li><%= i.name %></br>
          <% end %>
     </ol>
    LIST OF ALL BOOKS IN LIBRARY :-
     <ol><% @library_in.each do |i| %>
      <li><%= i.b_name %></br>
          <% end %>
     </ol>
    STUDENT WITH MAXIMUM PERCENTILE OF :-
      <% @max_per.each do |i| %>
       <mark><%= i.percentage %> </mark>&nbsp; AND NAME =>
       <%= i.c_name %>
      <% end %>
    </br>
    STUDENT WITH MININMUM PERCENTILE OF :-
      <% @min_per.each do |i| %>
       <mark><%= i.percentage %> </mark>&nbsp; AND NAME =>
       <%= i.c_name %>
      <% end %></br>
    LIST OF TECHERS WITH BOOKS
     <table border="2">
      <tr style="color: blue">
       <th>BOOK NAME</th>
       <th>TEACHER NAME</th>
      </tr>
      <tr><% @book_teach.each do |i| %>
       <td><%= i.b_name %></td>
       <td><%= i.name %></td>
      </tr> <% end %>
     </table>
    LIST OF STUDENTS WITH BOOKS
     <table border="2">
      <tr style="color: blue">
       <th>BOOK NAME</th>
       <th>STUDENTS NAME</th>
      </tr>
      <tr><% @book_stud.each do |i| %>
       <td><%= i.b_name %></td>
       <td><%= i.c_name %></td>
      </tr> <% end %>
     </table>
    LIST OF STUDENTS WITH BOOK AUTHORS AND TEACHERS
      <table border="2">
       <tr style="color: blue">
        <th>BOOK AUTHOR</th>
        <th>STUDENTS NAME</th>
        <th>TEACHERS NAME</th>
       </tr>
       <tr><% @aut_stud.each do |i| %>
        <td><%= i.b_author  %></td>
        <td><%= i.c_name %></td>
        <td><%= i.name %></td>
       </tr> <% end %>
      </table>


  </body>
</html>