<h1>LOGIN PAGE</h1>
<%= form_for :new_user do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %><br>
    <%= f.text_field :confirm_password %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
