<center><h1>LOGIN PAGE</h1></center>
<%= form_for :new_user do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :password %><br>
   <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :email_id %><br>
    <%= f.text_field :email %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>